.motto {
  position: absolute;
  left: 5%;
  top: 10%;
  width: 90%;
  text-transform: uppercase;
  background-color: rgba(193, 219, 238, 0.637);
  border-radius: 30px;
  padding: 3rem;
  box-shadow: 2px 5px 16px 0px #95b3d6, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.motto h1 {
  font-size: 3.5em;
  line-height: 1em;
}

.motto h2 {
  padding-right: 10rem;
  font-size: 1.2em;
  padding-left: 1.5em;
}

.motto h1,
.motto h2 {
  background: rgb(0, 99, 170);
  background: linear-gradient(90deg, rgb(14, 88, 141) 0%, rgb(33, 100, 136) 0%, rgb(100, 154, 216) 100%);
  filter: contrast(200%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.motto-first {
  width: 470px;
}

.home-services {
  position: absolute;
  top: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 5%;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1.5rem;
  font-size: 1rem;
}

.content {
  margin: 0 3rem 1rem 3rem;
}

.make-appointment,
.help-by-specialist,
.diagnostic-report {
  background-color: rgba(204, 226, 243, 0.5);
  border-radius: 30px;
  height: 300px;
  box-shadow: var(--shadowCard);
}

@media (width<930px) {
  .motto {
    padding: 2rem;
    width: 70%;
  }

  .motto h2 {
    padding-right: 5rem;
    font-size: 1em;
  }

  .home-services {
    width: 100%;
    margin:5vh 0;
    display: flex;
    gap:10px;
  }

  .make-appointment,
  .help-by-specialist,
  .diagnostic-report {
    height: 500px;
    width: 200px;
  }
  .make-appointment .title h5,
  .help-by-specialist .title h5,
  .diagnostic-report .title h5{
    text-align: center;
  }
}

@media (max-width: 480px) {
  .motto {
    padding: 1.5rem;
    width: 100%;
  }

  .motto h2 {
    padding-right: 3rem;
    font-size: 0.9em;
  }

  .home-services {
    margin: 0 1rem;
  }

  .make-appointment,
  .help-by-specialist,
  .diagnostic-report {
    height: 150px;
  }
}
