.motto {
    position: absolute;
    left: 5rem;
    top: 10rem;
    padding: 0.5em;
    width: 40rem;
    text-transform: uppercase;
    background-color: rgba(204, 226, 243, 0.5);
    border-radius:30px;
}
  .motto h1 {
    font-size: 4em;
    line-height: 1em;
  }
  .motto h2 {
    padding-right: 10rem;
    font-size: 1.2em;
    padding-left: 1.5em;
  }
  .motto h1,h2{
    background: rgb(8, 66, 107);
background: linear-gradient(90deg, rgba(18,156,255,1) 0%, rgba(65,159,210,1) 50%, rgb(135, 170, 211) 100%);
    filter:contrast(120%);
    border-radius: 30px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .motto-first{
    width:470px;
  }
  .home-services{
    position: absolute;
    top:35rem;
    display:flex;
    gap: 20rem;
    justify-content: center;
    margin: 0 5rem 0 5rem;
  }
  .title
  {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
  }
  .content{
    margin:0 3rem 1rem 3rem;
  }
  .make-appointment, .help-by-specialist, .diagnostic-report{
    background-color: rgba(204, 226, 243, 0.5);
    border-radius: 30px;
  }