@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cairo:wght@400;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Open+Sans&family=Pacifico&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
.footer-container{
    display:flex;
    align-items: center;
    bottom:0;
    height:10rem;
    padding:3rem;
    width: 100%;
    justify-content: center;
    gap: 35rem;
    font-family: Roboto, sans-serif;
    background-color: rgba(255,255,255,0.1);
}
.left-side .right-side{
    flex:50%;
}
.left-side :nth-child(-n+2){
    /* line-height: 2.5em; */
}
.left-side{
    line-height: 1.5vh;
}
.right-side{
    display:flex;
    justify-content: center;
    gap: 2rem;
}
.column-title{
    padding-bottom: 10px;
    font-weight: bold;
}
.column-content{

}
.phone-number{
    font-size: 1.5rem;
    color:#0077b6;
}
.phone-number a{
    text-decoration: none;
}
.phone-number svg{
    padding-right: 10px;
}
.social-links{
    display:flex;
    justify-content: center;
    gap:50px;
    align-items:center;
}
.right-side, .site-mark{
    /* color: rgba(27,34,36,70); */
    color:white;
}
@media(width<930px){
    .footer-container .left-side .phone-number,.footer-container .left-side .social-links{
        display: none;
    }
    .footer-container .left-side{
        line-height: 2vh;
    }
}