@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cairo:wght@400;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cairo:wght@400;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Open+Sans&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar-home {
    background-color: rgba(30, 80, 67, 0.322);
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.6s;
}

.scrolled {
    background-color: rgba(30, 80, 67, 0.322);

    backdrop-filter: blur(18px);
    transition: all 0.6s;
    box-shadow: 5px 5px 15px 5px rgba(30, 80, 67, 0.322);
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

.navbar-logo {
    /* background: rgb(8, 66, 107);
    background: linear-gradient(90deg, rgba(18, 156, 255, 1) 0%, rgb(49, 126, 168) 50%, rgb(73, 134, 224) 100%); */
    background-color: var(--lightblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-self: start;
    margin-left: 2rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    font-style: italic;
    display: flex;
    align-items: center;
    font-family: Alkatra, sans-serif;
    font-weight: 300;
    width: 60vh;
}

.navbar-logo:hover {
    text-decoration: none;
}

.navbar-logo img {
    height: 3rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
    /* margin-left:5rem; */
}

.nav-item {
    height: 80px;
}

.logout-container {
    display: flex;
    align-items: center;
}

.logout-container .logout-btn {
    height: 50%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--lightblue);
    font-size: 15px;
    box-shadow: 0px 5px 15px 0px #1a6283, inset 0px 25px 33px -17px #1a6283;
    cursor: pointer;
}
.logout-btn:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

.nav-links {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.username {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    font-size: 16.5px;
    text-decoration: none;
}

.active-link {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    font-family: 'Cairo', sans-serif;
    font-weight: 600;
    font-size: 18px;
    background-color: var(--lightblue);
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    transition: all 1s;
}

.dropdown-menu {
    list-style: none;
}

.dropdown-menu {
    display: none;
    width: 100px;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    background-color: var(--lightblue);
    box-shadow: var(--shadowColor);
}

.dropdown-menu :last-child {
    margin-top: 15px;
}

.dropdown-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.dropdown-menu li a {
    color: black;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    text-decoration: underline;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu{
    position:absolute;
    -webkit-animation: slide-in-blurred-top 700ms cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-top 700ms cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
@-webkit-keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-100%) scaleY(2.5) scaleX(0.2);
              transform: translateY(-100%) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-100%) scaleY(2.5) scaleX(0.2);
              transform: translateY(-100%) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  