#root {
  /* background-image: url('./assets/background.jpg'); */
  background-image: url('./assets/bg.jpg');
  background-size: cover;
  --lightblue:#0080FF80;
}

.page-container {
  min-height: 1000px;
}

.active-link {
  font-size: 100px;
}

